header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  font-size: 1vw;
  z-index: 100;
  .container-fluid {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    .logo {
      @include midflex;
      margin-left: 2.5vw;
      cursor: pointer;
    }
    .menu {
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .nav {
        height: 100%;
        @include midflex;
        li {
          margin: 0 1.563vw;
          a {
            text-transform: uppercase;
            @include transition(0.5s);
            &:hover {
              color: $primary-red !important;
            }
          }
        }
      }
    }

    .action {
      position: absolute;
      right: 3%;
      @include midflex;
      .action__group {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .search {
          display: inline;
          cursor: pointer;
          margin-right: 1.25vw;
          width: 1.88vw;
        }
        .store {
          @include button(7px, 24px, 3px);
          margin-right: 0.625vw;
        }

        .register {
          @include button(7px, 15px, 3px);
        }
      }
    }
  }

  @include mobile {
    // $header-height-mobile: 25px;
    width: 100vw;
    height: $header-height-mobile;
    .container-fluid {
      .logo {
        margin: 0;
        img {
          width: 90px;
        }
      }
      .menu,
      .action {
        display: none;
      }
    }
  }
}
